:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(239, 63, 251);
  background: radial-gradient(
    circle,
    rgba(239, 63, 251, 0.8743872549019608) 0%,
    rgba(252, 73, 70, 0.7539390756302521) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-todo form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add-todo button {
  align-self: center;
  margin-top: 0;
}

.date-placeholder {
  width: 5rem;
  height: 5rem;
  visibility: hidden;
}

.date {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  border: 2px solid #2e5ec5;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
  background-color: #646cff;
}

.date p {
  font-size: 1rem;
  margin: 0;
}

.search {
  margin-bottom: 1rem;
}

.search input {
  padding: 0.4rem;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.card {
  background: rgb(230, 230, 230);
  border-radius: 8px;
  max-width: 30rem;
  padding: 0.5rem;
  color: black;
  box-shadow: 0 0 14px rgba(219, 219, 219, 0.89);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(15, 40, 187, 0.897);
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: fit-content;
}

.card-body__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 15rem;
  max-width: 20rem;
  margin-left: 1rem;
}

.card-body__header p {
  margin: 0;
  text-align: left;
}

.editing-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.editing-form span button {
  margin: 0 0.5rem 0 0;
}

.card-body__header button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card-body__btns {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.card-body__btns button {
  margin: 0.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card-date {
  font-size: 0.9rem;
  width: 5rem;
  flex-shrink: 0;
}

.todo-input {
  padding: 0.5rem 1rem;
}
.editing-form {
  display: flex;
  gap: 1rem;
}

.editing-form input {
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.add-todo button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #646cff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #62f84f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
